@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", serif;
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    height: 75px;
    display: flex;
    justify-content: center;
}

#brand {
    position: absolute;
    left: 7.5px;
    margin-top: 7.5px;
    height: 60px;
    width: 60px;
}

.brand-text {
    position: absolute;
    left: 75px;
    margin-top: 17px;
    color: #be905d;
    font-size: 35px;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    position: relative;
    color: #a87040;
    font-weight: 400;
}

ul a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: #2a5757;
    transition: width .2s;
}

ul a:hover:after {
    width: 100%;
}

ul li {
    padding: 5px;
    margin-left: 50px;
}

#login {
    position: absolute;
    right: 55px;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-color: rgba(235,224,206,0.75);
    padding: 5px 8px;
    width: 145px;
    height: 40px;
    cursor: pointer;
}

#login a {
    color: #a87040;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    header {
        justify-content: right;
    }

    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    #login {
        position: relative;
        background: none;
        right: 0;
        height: 25px;
    }
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(22,81,113,0), rgba(22,81,113,0), rgba(22,81,113,1)), url("/static/images/test3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 25px;
    width: 100%;
}