@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", serif;
}

/*
### INDEX.HTML
 */

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    height: 75px;
    display: flex;
    justify-content: center;
}

#brand {
    position: absolute;
    left: 7.5px;
    margin-top: 7.5px;
    height: 60px;
    width: 60px;
}

.brand-text {
    position: absolute;
    left: 75px;
    margin-top: 17px;
    color: #be905d;
    font-size: 35px;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    position: relative;
    color: #a87040;
    font-weight: 400;
}

ul a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: #2a5757;
    transition: width .2s;
}

ul a:hover:after {
    width: 100%;
}

#login a:hover:after {
    width: 0;
}

ul li {
    padding: 5px;
    margin-left: 50px;
}

#login {
    position: absolute;
    right: 55px;
    display: grid;
    place-items: center;
    border-radius: 25px;
    background-color: rgba(235,224,206,0.75);
    padding: 5px 8px;
    width: 145px;
    height: 40px;
    cursor: pointer;
}

#login a {
    display: grid;
    place-items: center;
    color: #a87040;
    height: 120%;
    width: 110%;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    header {
        justify-content: right;
    }

    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    #login {
        position: relative;
        background: none;
        height: 25px;
        width: 10%;
        padding: 0;
    }

    #login a {
        padding-left: 52px;
    }

    #login a:hover:after {
        width: 100%;
    }

    .mobile-menu li {
        font-size: 5vw;
        margin-bottom: 10px;
    }
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(22,81,113,0), rgba(22,81,113,0), rgba(22,81,113,1)), url("/static/images/test3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 25px;
    width: 100%;
}

.account > span {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: 10px auto;
    grid-gap: 15px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: rgba(42, 87, 87, 0.5);
    color: #fff;
    border-radius: 4px;
}

.account-dropdown {
    position: absolute;
    background: rgba(42, 87, 87, 0.5);
    min-width: 150px;
    height: 130px;
    border-radius: 4px;
    list-style: none;
    display: none;            /* hidden by default */
}

.account-dropdown li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
}

.account-dropdown li a:hover {
    background: #555;
}

/* Show on hover (or click with JS if you prefer) */
.account:hover .account-dropdown {
    display: block;
}

.account-img {
    width: 20px;
    height: 20px;
}


/*
### LOGIN.HTML
 */

.login-body {
    position: absolute;
    width: 100%;
    height: 90vh;
    display: grid;
    align-items: center;
    place-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 550px;
    border-style: solid;
    border-color: #e0e2e7;
    border-width: 2px;
    background: white;
    border-radius: 10px;
}

form h1 {
    margin-left: 55px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.details {
    color: gray;
    margin-left: 55px;
    margin-top: 55px;
}

.form-inner {
    display: grid;
    place-items: center;
    width: 350px;
    height: 250px;
    margin-left: 55px;
}

input:not([type="submit"]) {
    font-weight: 450;
    font-size: 100%;
    text-indent: 5%;
    height: 45px;
    width: 340px;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e2e7;
    border-radius: 5px;
}

input:is([type="submit"]) {
    height: 35px;
    width: 340px;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e2e7;
    border-radius: 5px;
    cursor: pointer;
}

input:focus {
    outline-color: #72bbbb;
}

/*
### SIGNUP.HTML
 */
.signup-body {
    position: absolute;
    width: 100%;
    height: 90vh;
    display: grid;
    align-items: center;
    place-items: center;
}

.error-messages {
    display: grid;
    place-items: center;
    gap: 15px;
    color: red;
}

/*
### LOGOUT.HTML
 */

.signout-confirm {
    display: grid;
    place-items: center;
    width: 200px;
    height: 50px;
    background-color: #f1f1f1;
    color: #cb2222;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #bdbdbd;
    cursor: pointer;
    margin-bottom: 85px;
}

.logout-button {
    text-decoration: none;
}

.signout-message {
    display: grid;
    place-items: center;
    width: 200px;
    height: 70px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 10px;
    border-width: 1px;
}