<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Natdex</title>
        <link rel="icon" href="../static/LOGO.png" type="image/x-icon"/>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <header>
            <a href="/"><img id="brand" src="../static/LOGO.png"></a>
            <div class="brand-text">natdex</div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Support</a></li>
                    <li id="login"><a href="/login.html">Login</a></li>
                </ul>
            </nav>
            <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <ul class="mobile-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Support</a></li>
                    <li id="login"><a href="/login.html">Login</a></li>
                </ul>
            </div>
        </header>

        <!-- SIGN-UP / LOGIN FORM SWITCHING -->

        <!-- SIGN-UP / LOGIN FORM SWITCHING -->
    <script src="../static/index.js"></script>
    </body>
</html>