<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Natdex</title>
        <link rel="icon" href="../static/LOGO.png" type="image/x-icon"/>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <header>
            <a href="/"><img id="brand" src="../static/LOGO.png"></a>
            <div class="brand-text">natdex</div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Support</a></li>
                    {% if logged_in %}
                        <li class="account">
                            <span>
                                <img src="../static/images/user.png" class="account-img">
                                {{ username }}
                            </span>
                            <ul class="account-dropdown">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="/logout.html">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li id="login"><a href="/login.html">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <ul class="mobile-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Support</a></li>
                    <li id="login"><a href="/login.html">Login</a></li>
                </ul>
            </div>
        </header>

        <!-- LOGOUT FORM -->
        <div class="login-body">
            <form method="POST">
                <p class="details">Don't stop adventuring!</p>
                <h1>Goodbye!</h1>
                <div class="form-inner">
                    <p class="signout-message">Signing out of <strong>{{ username }}</strong></p>
                    <a href="/logout_confirm" class="logout-button">
                        <div class="signout-confirm">
                            <p>Sign out</p>
                        </div>
                    </a>
                </div>
            </form>
        </div>
        <!-- LOGOUT FORM -->
    <script src="../static/index.js"></script>
    </body>
</html>